
 body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  /* 세로 스크롤바 제거 */

}

section {
  width: 100vw;
  height: 100vh;
}

#section3 {
  background-color: #5E345E;
}

#section4 {
  background-color: #4D4F53;
  /* 추가된 섹션 */
}

#section5 {
  background-color: #6E4B3E;
  /* 추가된 섹션 */
}

#section6 {
  background-color: #673ab7;
  /* 추가된 섹션 */
}