/* font */
@import url('https://webfontworld.github.io/pretendard/Pretendard.css');
/* font-family: 'Pretendard'; */

@font-face {
  font-family: 'Middleschool_student';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_08@1.0/Middleschool_student.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 공통 부분 */
:root{
  /* font */
  --font-title:"Inter", sans-serif;
  --nomal-font:'Middleschool_student';
  --pretendard-font:'Pretendard';

  /* color */
  --mainColor:#2AA971;
  --nomalColor:#111;
  --bgColor: #FDFDFD;
}


html {
  scroll-behavior: smooth;
  background:var(--bgColor);
  overflow: hidden;
}

body{
  font-family: var(--font-title);
}

/**/
.header,
.side_nav,
.intro,
.about_me,
.project,
.stack,
.emphasize,
.contact,
section{
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

/* nav */
.side_nav{
  width: 466px;
  height: 100%;
  background: url(../images/nav_bg.svg) no-repeat;
  position: fixed;
  right: -466px;
  z-index: 40;
  padding: 14rem 3rem 0 0;
  text-align: right;
  color: var(--mainColor);
  box-sizing: border-box;
  transition: 0.5s;
}

.side_nav.right468{right: 0;}

nav a{
  display: block;
  margin-bottom: 37px;
  font-size: 24px;
  font-weight: 600;
  color: var(--mainColor);
  transition: color 0.4s;
}

nav a:last-child{
  margin-bottom: 0;
}

nav a:hover{color: #000;}

.trigger{
  display: none;
  width: 50px;
  height: 40px;
  position: fixed;
  top: 3.5rem;
  right: 3rem;
  cursor: pointer;
  z-index: 50;
}

.trigger_inner{
  width: 100%;
  height: 100%;
}

.trigger span{
  position: absolute;
  right: 0px;
  height: 4px;
  background-color: var(--mainColor);
  width: 100%;
  transition: .3s;
}

.trigger span:nth-child(1){top: 0;}
.trigger span:nth-child(2){top: 50%; transform: translateY(-50%);}
.trigger span:nth-child(3){bottom: 0;}

/* 트리거에 클래스 추가시 x표시로 변경 */
.trigger.triggerX span:nth-child(1){
  top: 50%;
  transform:translateY(-50%) rotate(45deg);
}

.trigger.triggerX span:nth-child(2){
  opacity: 0;
}

.trigger.triggerX span:nth-child(3){
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.nav_info_box{
  margin-top: 17rem;
}

.nav_info_box>h5{
  margin: 0.6rem 0 0.2rem;
  font-size: 18px;
  font-weight: 600;
}

.nav_info_box>h6{
  font-size: 16px;
  font-weight: 300;
}

/* intro */
.intro{
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.fixe_box{
  width: 800px;
  height: 546px;
  position: absolute;
  margin: auto;
  top: 54%;
  left: 50%;
  transform: translate(-54%, -50%);
}

.typing{
  width: 100%;
  font-size: 5.5rem;
  font-weight: 900;
  position: absolute;
  left: 50%;
  bottom: 105%;
  transform: translateX(-48%);
  z-index: 10;
}

.typing.gone_ani{
  animation-name: Gone;
  animation-duration: .8s;
  animation-fill-mode: forwards;
}

@keyframes Gone {
  50%{bottom: 100%;}
  100%{bottom: 130%; opacity: 0;}
}

.typing::after {
  content: '';
  margin-left: 1.3rem;
  border-right: 4px solid var(--bgColor);
  animation: cursor .9s infinite steps(2);
}

@keyframes cursor {
  100%{border-right: 4px solid var(--nomalColor);}
}

.speech_bubble{
  display: none;
  width: 326px;
  height: 165px;
  position: absolute;
  top: 4.5rem;
  right: -11rem;
  padding: 2.5rem 0 0 1rem;
  background:url(../images/speech_bubble.png) no-repeat;
  z-index: 30;
}

.speech_bubble.veiw_bubble{display: block;}

.speech_bubble.gone_ani2{
  animation-name: Gone2;
  animation-duration: .8s;
  animation-fill-mode: forwards;
}

@keyframes Gone2 {
  50%{top: 6rem;}
  100%{top: -3rem; opacity: 0;}
}

.bubble_typing{
  font-family: var(--nomal-font);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--nomalColor);
}

.entering{
  opacity: 0;
  visibility: hidden;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin: 0.6rem 1rem 0 0;
  animation-name: view;
  animation-duration: 0.2s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes view{
  100%{ opacity: 1; visibility: visible;}
}

.entering>img{
  transform: translateX(3px);
  animation: pointer 0.8s infinite steps(2);
}

@keyframes pointer{
  100%{transform: translateX(-5px);}
}

.entering>h3{
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--mainColor);
  margin-top: 0.2rem;
}

.entering:hover h3{text-decoration: underline;}

.bg_gif{
  width: 100%;
  height: 100%;
  border: 6px solid #000;
  overflow: hidden;
}

/*intro2*/
.intro_desc2_images{
  width: 545px;
  height: 363px;
  background-image: url(../images/ticket.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 180%;
  bottom: -5rem;
  z-index: 30;
}

.intro_desc2_images.intro2_ani{
  animation-name: intro2_cha;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes intro2_cha {
  100%{left: 80%;}
}

.intro_desc2_ticket{
  width: 100%;
  position: absolute;
  top: 15%;
  right: 15%;
  bottom: 15rem;
  z-index: 30;
  display: none;
}

.intro_desc2_ticket.ticket_veiw{
  display: block;
}

.ticket_ani.release{
  position: absolute;
  top: 9%;
  right: 15%;
  transform: rotate(15deg);
}

.intro_desc2_ticket_wrap{
  display: flex;
}

.ticket_ani2{
  display: none;
  transform: translate(482px, -327px);
}

.ticket_ani2.release2{
  display: block;
}

.speech_bubble2{
  display: none;
  width: 326px;
  height: 206px;
  position: absolute;
  top: 3.5rem;
  right: -17rem;
  background:url(../images/speech_bubble2.png) no-repeat;
  z-index: 30;
}

.speech_bubble2.veiw_bubble2{display: block;}

.bubble_typing2{
  font-family: var(--nomal-font);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--nomalColor);
  margin: 2.8rem 0 0.5rem;
}

.speech_bubble2>.entering{
  animation-delay: 6s;
}

.speech_bubble3{
  display: none;
  width: 326px;
  height: 182px;
  position: absolute;
  top: 6rem;
  right: -17rem;
  background:url(../images/speech_bubble3.png) no-repeat;
  z-index: 30;
}

.speech_bubble3.veiw_bubble3{display: block;}


.bubble_typing3{
  font-family: var(--nomal-font);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--nomalColor);
  margin: 2.5rem 0 0.5rem;
  transform: translateX(-2%);
}

.speech_bubble4{
  display: none;
  width: 326px;
  height: 182px;
  position: absolute;
  top: 6rem;
  right: -17rem;
  background:url(../images/speech_bubble4.png) no-repeat;
  z-index: 30;
}

.speech_bubble4.veiw_bubble4{display: block;}

.bubble_typing4{
  font-family: var(--nomal-font);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--nomalColor);
  margin: 2.5rem 0 0.5rem;
  transform: translateX(-2%);
}

.speech_bubble4>.entering{
  animation-delay: 2.2s;
}

.entering>h3>a{
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--mainColor);
  margin-top: 0.1rem;
}

/*섹션*/

#section4{
  background: url(../images/예시3.png) no-repeat center center;
}

/* about_me */
.about_me{
  display: flex;
  align-items: center;
  padding-left: 166px;
  position: relative;
}

.about_me_left{
  width: 337px;
  height: 100%;
  background: url(../images/about_me/left_bg.png) no-repeat center center;
}

.about_me_right{
  margin-left: 90px;
}

.about_me_right>h2{
  font-size: 65px;
  font-weight: 600;
  color: #D2ECE1;
  position: absolute;
  top: 7rem;
  right: 13rem;
}

.about_me_right_title{
  position: relative;
  margin-top: 300px; 
  opacity: 0;
  visibility: hidden;
  transition: .6s;
  font-family: var(--pretendard-font);
}

.about_me_right_title.marginTop250{
  margin-top: 250px;
  opacity: 1;
  visibility: visible;
}

.about_me_right_title>h3{
  font-size: 19px;
  font-weight: 300;
  margin-bottom: 36px;
  position: relative;
  z-index: 10;
}

.marker{
  width: 0;
  height: 16px;
  display: block;
  background: #BEEABE;
  border-radius: 10px;
  position: absolute;
  top: 70px;
  left: 45px;
}

.marker.markerAni{
  animation-name: marker;
  animation-duration: .8s;
  animation-delay: .6s;
  animation-fill-mode: forwards;
}

@keyframes marker{
  100%{width: 198px;}
}


.about_me_right_title h3{
  font-size: 34px;
  font-weight: 600;
  line-height: 2.8rem;
}

.about_me_right_title p{
  font-size: 19px;
  font-weight: 300;
  line-height: 2rem;
}

.about_me_right_title p:nth-child(3){
  margin: 1rem 0 1rem;
}

.more_info{
  width: 231px;
  height: 54px;
  margin-top: 1.8rem;
  text-align: center;
  line-height: 54px;
  background: url(../images/about_me/more.png) no-repeat center center;
  background-size: cover;
  transition: .3s;
  cursor: pointer;
}

.more_info:hover{
  transform: translateY(-5px);
}

.more_info>h5{
  font-size: 18px;
  font-weight: 600;
  color: var(--mainColor);
}

/* about_me modal */
.about_me_modal{
  display: none;
  width: 1440px;
  height: 682px;
  position: absolute;
  top: 165px;
  left: 50%;
  transform: translateX(-50%);
  padding: 41px 51px;
  box-sizing: border-box;
  border: 3px solid #000;
  background: var(--bgColor);
  z-index: 30;
}

.about_me_modal_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_me_modal_top>h4{
  font-size: 25px;
  font-weight: 800;
  color: var(--mainColor);
}

.about_me_modal_contents{
  display: flex;
  gap: 4.5rem;
  padding: 0 3.5rem;
  margin-top: 118px;
  font-family: var(--pretendard-font);
}

.modal_contents_left>h6{
  margin-bottom: 0.6rem;
  font-size: 20px;
  font-weight: 700;
}

.modal_contents_right{
  display: flex;
  font-family: var(--pretendard-font);
  padding-top: 2.8rem;
}

.modal_contents_right h3{
  font-size: 20px;
  font-weight: 700;
}

.name{
  display: flex;
  gap: 0.5rem;
  margin: 0 0 2rem;
}

.name p{
  font-size: 19px;
  font-weight: 300;
}

.personality_Education{
  display: flex;
  gap: 1rem;
}

.personality{width: 300px;}

.personality_boxes, .Education_list{
  margin-top: 20px;
}

.personality_box{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 16px;
}

.personality_box:last-child{
  margin-bottom: 0;
}

.personality_box h6{
  font-size: 19px;
  font-weight: 300;
}

.personality_box>span{
  width: 130px;
  height: 4px;
  background: #d9d9d9;
  position: relative;
  border-radius: 5px;
}

.personality_box>span>span{
  width: 11px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: var(--mainColor);
}

.personality_box:nth-child(2)>span>span{left: 75%;}
.personality_box:nth-child(3)>span>span{left: 70%;}

.Education{width: 299px;}

.contents_right_bottom{
  display: flex;
  align-items: center;
}

.Education_list{position: relative;}

.Education_list::before{
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 11.5px;
  width: 0;
  height: 75px;
  border: 1px dashed rgb(179, 179, 179);
  z-index: -1;
}

.Education_list>li{
  text-indent : 10px;
  list-style: inside;
  line-height: 2rem;
}

.contents_right_bottom{margin-top: 2.5rem;}

.sns_info_box{
  height: 34px;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-right: 1rem;
  padding: 0 0.7rem;
  background: #f3f3f3;
  border-radius: 10px;
  box-sizing: border-box;
  transition: .2s;
}

.sns_info_box:hover{
  transform: translateY(-4px);
}

.sns_info_box:last-child{
  margin-right: 0;
}

.sns_info_box>a{
  font-size: 18px;
  font-weight: 400;
  color: var(--nomalColor);
}

.sns_info_box:last-child>a{
  display: flex;
  align-items: center;
}

/* project */
.project{
  background: url(../images/project/bg.png) no-repeat center center;
  padding-top: 1px;
  font-family: var(--pretendard-font);
}

.project_wrap{
  width: 94%;
  display: flex;
  gap: 4rem;
  margin: 100px 0 0 7rem;
}

.project_left{width: 680px;}

.project_left_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
}

.project_left_top>h5{
  font-size: 20px;
  font-weight: 700;
}

.project_left_top>span{
  width: 55%;
  height: 2px;
  background: var(--nomalColor);
}

.project_left_middle{
  margin: 110px 0 60px;
  padding-left: 1rem;
}

.project_left_middle>h4{
  font-size: 30px;
  font-weight: 700;
  color: var(--mainColor);
  font-family: var(--font-title);
}

.project_left_middle>h3{
  font-size: 45px;
  font-weight: 700;
  margin-top: 10px;
}

.project_left_middle>p{
  font-size: 19px;
  font-weight: 400;
  margin-top: 30px;
  line-height: 2rem;
}

.project_left_bottom{
  width: 440px;
  height: 250px;
  margin-left: 1rem;
  padding: 2rem;
  font-size: 17px;
  background: url(../images/project/project_desc_bg.png) no-repeat center center;
  box-sizing: border-box;
}

.project_desc_wrap{
  display: flex;
  gap: 2.5rem;
}

.project_desc_title>li{
  font-weight: 600;
  line-height: 2.2rem;
}

.project_desc>li{
  font-weight: 300;
  line-height: 2.2rem;
}

.project_desc>li:nth-child(3){
  display: flex;
  gap: 0.7rem;
}

.project_desc>li>p{
  padding: 5px 10px;
  color: var(--mainColor);
  border: 1px solid #000;
  border-radius: 7px;
  line-height: 1.2rem;
  margin-bottom: 0.2rem;
}

.project_shortcut{
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.shortcut_box{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 5px 15px;
  font-size: 17px;
  font-weight: 300;
  background: #F4F4F4;
  border-radius: 10px;
  transform: 0.3s;
  cursor: pointer;
}

.shortcut_box:hover{
  transform: translateY(-4px);
}

.project_right{
  flex: 1;
  padding-top: 3rem;
  position: relative;
}

.project_right-gif{
  width: 667px;
  height: 375px;
  position: absolute;
  top: 114px;
  left: 135px;
  background: url(../images/project/Animation.gif) no-repeat top;
  background-size: cover;
  overflow: hidden;
}

.project_nav{
  width: 130px;
}





